# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Django
*.log
local_settings.py
/db.sqlite3
/media

# Env files
mercado/.env
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Secret keys (NO SUBIR A GIT)
SECRET_KEYS_FOR_RENDER.txt
secret_keys.txt
generate_secret_key.py
mercado/staticfiles/
