services:
  - type: web
    name: mercalma
    env: python
    buildCommand: "./build.sh"
    startCommand: "cd mercado && gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: mercalma-db
          property: connectionString

databases:
  - name: mercalma-db
    databaseName: mercalma
    user: mercalma
